<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Login</title>
</head>
<body>
	<!-- ヘッダー -->
	<nav class="sticky-top bd-subnavbar py-1 mb-4 shadow" style="background-color:rgb(248, 225, 194);">
		<div class="container">
			<div class="row mb-1 mt-1">
				<div class="col-6 d-flex">
					<h1 th:text="#{system.title}"></h1>
					<img th:src="@{/images/R.png}" class="img-fluid" style="max-height: 40px; width: auto;">
				</div>
			</div>
		</div>
	</nav>

	<!-- コンテンツエリア -->
	<div class="container">
		<h2>ログイン</h2>
		<form th:action="@{/login}" method="post">
			<div>
				<label>ユーザー名:</label>
				<input type="text" name="username"/>
			</div>
			<div>
				<label>パスワード:</label>
				<input type="password" name="password"/>
			</div>
			<div>
				<button type="submit">ログイン</button>
			</div>
		</form>
	</div>
</body>
</html>
