<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/css/expenses_common.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title>PTL102:サブメニュー(家計簿)</title>
</head>
<body>
    <!-- サイドメニュー -->
    <div th:replace="~{common/sidebar :: common_sidebar}"></div>

	<!-- サイドバー表示中のオーバーレイ -->
	<div id="sidebar-overlay" class="overlay" onclick="closeNav()"></div>

    <!-- 画面全体 -->
    <div id="main">

        <!-- 共通パーツ:ヘッダー -->
        <div th:replace="~{common/header :: common_header(#{system.subtitle.expense})}"></div>

        <!-- タイトル -->
        <div class="container my-4">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="col-auto">
                    <h3 class="page-title" th:text="#{system.subtitle.expense}"></h3>
                </div>
                
                <div class="col-auto">
                    <form method="get" action="/ptl101">
                        <button type="submit" class="btn btn-outline-secondary btn-return shadow-sm">
                            <i class="fas fa-undo-alt mr-1"></i> ポータルへ戻る
                        </button>
                    </form>
                </div>
            </div>
        </div>

		<div class="container shadow-sm pt-4 pb-4 pr-3 pl-3 mb-5 bg-body rounded border border-3" style="background-color: #f5f5f5;">
			<h4 th:text="#{system.submenu.title.expense}"></h4>
			<table class="table">
				<tr>
					<td><a href="/EXP101_EV001">出費登録</a></td>
				</tr>
				<tr>
					<td><a href="/EXP102_EV001">出費照会</a></td>
				</tr>
				<tr>
					<td><a href="/RPT101_EV001">帳票出力</a></td>
				</tr>
			</table>
			<h4 th:text="#{system.submenu.title.mstmng}"></h4>
			<table class="table">
				<tr>
					<td><a href="/ptl111_EV001">マスタ管理</a></td>
				</tr>
			</table>
		</div>
	</div>
    <div th:replace="~{common/footer :: common_footer}"></div>
	<script src="/js/expenses_common.js"></script>
</body>
</html>