<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="/css/expenses_common.css">
<link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
<title>RPT101:帳票(月次)出力</title>
</head>
<body>
	<nav class="sticky-top bd-subnavbar py-1 mb-4 shadow" style="background-color:rgb(248, 225, 194);">
		<div class="container">
			<div class="row mb-1 mt-1">
				<div class="col-6 d-flex">
					<h1 th:text="#{system.subtitle.expense}"></h1>
					<img th:src="@{/images/R.png}">
				</div>
				<div class="col-6 d-flex justify-content-end align-items-center">
					<div class="me-3 mr-3">
						<h5 th:text="'ログイン者：' + ${session.userName}"></h5>
					</div>
					<div>
						<form method="get" action="/ptl102_EV001">
							<input type="submit" class="btn btn-outline-secondary" value="メインメニューへ戻る"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</nav>

	<!-- タイトル -->
	<div class="container">
		<div class="row">
			<h3 th:text="#{RPT101.title}"></h3>
		</div>
	</div>

	<!-- エラーメッセージ -->
	<th:block th:if="${formDto.hdnMsg != null}">
		<div class="container">
			<div class="alert alert-success" role="alert">
			  <p class="m-auto" th:text="${formDto.hdnMsg}"></p>
			</div>
		</div>
	</th:block>

	<!-- コンテンツエリア -->
	<div class="container shadow-sm pt-4 pb-4 pr-3 pl-3 mb-5 bg-body rounded border border-3" style="background-color: #f5f5f5;">
		<form method="post" action="/RPT101_EV002" th:object="${formDto}">
			<!-- CSRF hidden フィールド -->
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<div class="row">
				<div class="form-group col-3">
					<label for="pulTargetYear">対象年</label>
					<select th:field="*{targetYear}" class="dropdown form-control">
						<option th:each="year : ${formDto.pulTargetYear}" th:value="${year.key}" th:text="${year.value}"></option>
					</select>
				</div>
				<div class="form-group col-3">
					<label for="pulTargetMonth">対象月</label>
					<select th:field="*{targetMonth}" class="dropdown form-control">
						<option th:each="month : ${formDto.pulTargetMonth}" th:value="${month.key}" th:text="${month.value}"></option>
					</select>
				</div>
			</div>
			<div class="border mb-3"></div>
			<div class="d-flex justify-content-end">
				<div class="mr-3">
					<button type="submit" class="btn btn-secondary shadow btn-lg"><i class="fas fa-search"></i>集計</button>
				</div>
			</div>
		</form>
	</div>
	<th:block th:if="${formDto.resultEntity != null}">
		<div class="container">
			<h4 class="mb-4">集計結果</h4>
			<table class="table" th:inline="text">
				<thead class="table-warning">
					<tr>
						<th class="col-2">分割有無</th>
						<th class="col-3">[[${formDto.resultEntity.payer1}]]</th>
						<th class="col-3">[[${formDto.resultEntity.payer2}]]</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-2">〇</td>
						<td class="col-3">[[${formDto.resultEntity.payAmountSplit1}]]</td>
						<td class="col-3">[[${formDto.resultEntity.payAmountSplit2}]]</td>
					</tr>
					<tr>
						<td class="col-2">×</td>
						<td class="col-3">[[${formDto.resultEntity.payAmountUnSplit1}]]</td>
						<td class="col-3">[[${formDto.resultEntity.payAmountUnSplit2}]]</td>
					</tr>
				</tbody>
			</table>
			<table class="table col-6" th:inline="text">
				<thead class="table-warning">
					<tr>
						<th class="col-3">支払者</th>
						<th class="col-3">支払金額</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col-3">[[${formDto.resultEntity.payer}]]</td>
						<td class="col-3">[[${formDto.resultEntity.settlementAmount}]]</td>
					</tr>
				</tbody>
			</table>
		</div>
	</th:block>
</body>
</html>