<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespaceはMapperインターフェースの完全修飾名 -->
<mapper namespace="com.expenses.springboot.repository.TblStoreMapper">

  <!-- ユーザー名で検索するSQL -->
  <select id="findAll" resultType="com.expenses.springboot.entity.TblStoreEntity">
    SELECT STORE_ID, STORE_NAME
    FROM TBL_STORE
  </select>

</mapper>
